body {
  font-size: 13px;
  line-height: 19px;
  color: #0f1111;
}

//responsive content
@media screen and (max-width: 768px) {
  .help-content-conditions {
    display: block;
    margin: auto;
    width: 80%;
    float: center;
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.4em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  p.lead {
    font-size: 12px;
    line-height: 1.4em;
    color: #555;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  div {
    display: block;
  }

  h1,
  h2 {
    padding-bottom: 4px;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 768px) {
  .help-content-conditions {
    display: block;
    margin: auto;
    width: 50%;
    float: center;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.4em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  p.lead {
    font-size: 10px;
    line-height: 1.4em;
    color: #555;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  div {
    display: block;
  }

  h1,
  h2 {
    padding-bottom: 4px;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1200px) {
  .help-content-conditions {
    display: block;
    margin: auto;
    width: 40%;
    float: center;
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.4em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }   

  p.lead {
    font-size: 10px;
    line-height: 1.4em;
    color: #555;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  div {
    display: block;
  }

  h1,
  h2 {
    padding-bottom: 4px;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1400px) {
  .help-content-conditions {
    display: block;
    margin: auto;
    width: 35%;
    float: center;
    padding: 0 20px;
    font-size: 20px;
    line-height: 1.4em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }  

  p.lead {
    font-size: 10px;
    line-height: 1.4em;
    color: #555;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  div {
    display: block;
  }

  h1,
  h2 {
    padding-bottom: 4px;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
  }

  h1 {
    font-size: 33px !important; 
  }

  h2 {
    font-weight: 700;
    font-size: 26px !important; 
    line-height: 1.3;
  }
}