.container-profile {
  background-color: #fff;
  margin: auto;
  width: 55%;
  float: center;
  height: 110vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.4em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px;
  margin-top: 50px;
  padding-bottom: 14px;
  border-radius: 15px;
  box-shadow: 5px 1px 57px 0px rgba(0, 0.2, 0.2, 0.2);
}

.sensor-data {
  font-size: 10px;
}

.google-map {
  margin: 1px;
}



@media screen and (max-width: 768px) {
  .container-profile {
    width: 85%;
    height: 110vh !important;
  }
}

@media screen and (max-width: 568px) {
  .container-profile {
    width: 85%;
    height: 100vh !important;
  }
}

@media screen and (max-width: 968px) {
  .container-profile {
    height: 115vh !important;
  }
}

@media screen and (max-width: 1300px) {
  .container-profile {
    height: 97vh !important;
  }
}

@media screen and (max-width: 1000px) and (max-height: 850px) {
  .container-profile {
    height: 130vh !important;
  }
}

@media screen and (max-width: 1400px) and (max-height: 850px) {
  .container-profile {
    height: 130vh !important;
  }
}

@media screen and (max-width: 2200px) and (max-height: 850px) {
  .container-profile {
    height: 140vh !important;
  }
}

@media screen and (max-width: 2600px) and (max-height: 850px) {
  .container-profile {
    height: 150vh !important;
  }
}

//ipad pro
@media screen and (max-width: 1024px) and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1366px) {
  .container-profile {
    height: 80vh !important;
  }
}

//iphone 12
@media screen and (max-width: 450px) and (max-height: 900px) {
  .container-profile {
    height: 100vh !important;
  }
}

//iphone 6/7/8
@media screen and (max-width: 400px) and (max-height: 700px) {
  .container-profile {
    height: 110vh !important;
  }
}
